.appDark {
  height: 100vh;
  background-image: url(./assets/backdrop/darkTheme.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.appLight {
  height: 100vh;
  background-image: url(./assets/backdrop/lightTheme.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: deepskyblue;
}
.white {
  background-color: #eed9b3;
}

.selected {
  background-color: rgb(198, 102, 102, 0.8);
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgb(30, 211, 30);
  box-shadow: 0px 0px 16px 8px rgba(30, 211, 30, 0.75);
}

